// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0F60C4;
$light-blue: #167FFB;
$blue-hover: #0F67DA;
$light-blue-hover: #147EFF;
$gray-blue: #577fba;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$light-gray: #ededed;
$gray: #bdb9b9;
$slider: #4f4f4f;
$white: white;
$dark-white: rgb(249, 249, 249);
$black: black;
$purple: #4D04C4;
$light-purple: #670BFF;
$lightseagreen: lightseagreen;
