<div class="carousel">
  <div class="jquery-script-clear"></div>
  </div>
  </div>
    <div class="container" id="featureContainer" style="margin:150px auto">
      <h1>Favorite pictures</h1>
      <div class="row mx-auto my-auto justify-content-center">
        <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="float-end pe-md-4">
            <a class="indicator" href="#featureCarousel" role="button" data-bs-slide="prev">
              <span class="fas fa-chevron-left" aria-hidden="true"></span>
            </a> &nbsp;&nbsp;
            <a class="w-aut indicator" href="#featureCarousel" role="button" data-bs-slide="next">
              <span class="fas fa-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
          <br>
          <br>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1567031538095-8a6fd8771fa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 1</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1608181017892-cc4a542570d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 2</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1611640844364-5d6e046b2359?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 3</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1612021148925-466704654aeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 4</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1567456100912-99f3038bd8e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnJ1c3NlbHMlMjBncmFuZCUyMHBsYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 5</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1511739001486-6bfe10ce785f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZWlmZmVsJTIwdG93ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 6</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1565881606991-789a8dff9dbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZWlmZmVsJTIwdG93ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 7</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1647613011546-093885baa316?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YnJ1c3NlbHMlMjBncmFuZCUyMHBsYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 8</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1619794578892-cbdd3ff81c95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGVpZmZlbCUyMHRvd2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 9</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1607179780236-b5d5eed4f6d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJydXNzZWxzJTIwZ3JhbmQlMjBwbGFjZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid">
                  </div>
                  <div class="card-img-overlays">Slide 10</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	    <script>
        let items = document.querySelectorAll('#featureContainer .carousel .carousel-item');
        items.forEach((el) => {
        const minPerSlide = 4
      let next = el.nextElementSibling
        for (let i=1; i<minPerSlide; i++) {
        if (!next) {
          // wrap carousel by using first child
        next = items[0]
        }
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
        }
      })
    $(document).ready(function(){
      $('#featureCarousel').carousel({interval: false});
      $('#featureCarousel').carousel('pause');
    });
	  </script>
	  <script type="text/javascript">

      let _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

  (function() {
    let ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    let s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
