<div class = "img_gallery_photo_hover">
  <p id = "img_gallery_text1"><i class="fa-solid fa-heart"></i></p>
  <div class = "img_gallery_photo_hover_user">
    <p id= "img_gallery_text2"><%=photo.creator%></p>
    <%= cl_image_tag "#{photo.user.photo.key}", id: "img_gallery_text3"%>
  </div>
</div>
<%= cl_image_tag photo.photo.key, height: 300, width: 400, crop: :fill, class: "img_gallery_photo" %>
