<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>

  </div>
  <a class="about-us" href="">About us</a>

  <div class="footer-copyright">
    This footer is for CatchLight
  </div>
</div>
