<div class="container-body"></div>
<div class="footer">
    <div class="main">
      <div class="follow">
        <h2>Follow us</h2>
        <div class="network">
          <h3><i class="fa-brands fa-instagram"></i></h3>
          <h3><i class="fa-brands fa-flickr"></i></h3>
          <h3><i class="fa-brands fa-linkedin-in"></i></h3>
          <h3><i class="fa-brands fa-twitter"></i></h3>
        </div>
      </div>
      <div class="copyright">
        <p>Contact us</p>
        <p><i class="fa-solid fa-copyright"></i></p>
        <p>Privacy policy</p>
      </div>
    </div>
    <div class="roll">
      <p class="marquee">
        <span>#BATCH980  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </p>
      <p class="marquee marquee2">
        <span>#BATCH980  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </p>
    </div>
  </div>
