<div class = "img_gallery_photo_hover">
  <div class="img_gallery_photo_hover_info">
    <p id = "img_gallery_text1"><i class="fa-solid fa-heart"></i></p>
    <p id = "img_gallery_text4"> <%=photo.creation_date_time.strftime("%I:%M%p")%></p>
  </div>
  <div class = "img_gallery_photo_hover_user">
    <p id= "img_gallery_text2"><%=photo.creator%></p>
  </div>
</div>
<img src="<%= photo.url %>" class = "img_gallery_photo" alt="">
