<div class = "search-box" id = "search-box">
<div class = "location-month">
  <div class="date-month">
    <%= form_with url: photos_path, method: :get, class: "d-flex" do %>
      <label for="location">  <i class="fa-sharp fa-fw fa-solid fa-location-dot"></i></label>
      <%= text_field_tag :query_location,
        params[:query_location],
        class: "form-control",
        placeholder: "Location"
      %>
  </div>
  <div class = "calendar">
      <label for="location"> <i class="fa-regular fa-fw fa-calendar"></i></label>
      <select name="query_month" id="month">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
  </div>
</div>
<div class = "range-submit">
  <div class = "range_slider" data-controller = "slider" data-action = "input->slider#bubble">
    <input type = "range" name="query_radius" id ="radius"
      min=".5" max="5.0" step = ".5" default = ".5" data-slider-target = "range">
      <label for="radius"></label>
      <output class="bubble"  data-slider-target = "bubble">Radius: 2.5 km</output>
  </div>

    <%= submit_tag "Search", class: "btn-black" %>
  <% end %>
  </div>
</div>
