<div class="container">
  <br>
  <h1>How to use CatchLight</h1>

  <div class="use-cards">
    <div class="use-card">
      <div class="use-card-product-infos">
        <h2><i class="fa-regular fa-lightbulb"></i> <strong>Use CatchLight</strong></h2>
        <p>1. First, <strong>Think </strong> of the place you would like to discover (location or adress)</p>
      </div>
    </div>

    <div class="use-card">
      <div class="use-card-product-infos">
        <h2><i class="fa-solid fa-location-crosshairs"></i> <strong>Enter location</strong></h2>
        <p>2. Use the <strong>Searchbar</strong> with the radius you assigned (from 0.5 km to 5 km)</p>
      </div>
    </div>

    <div class="use-card">
      <div class="use-card-product-infos">
        <h2><i class="fa-regular fa-map"></i> <strong>Use the map</strong></h2>
        <p>3. The map displays <strong> pictures and photos</strong> on a map</p>
      </div>
    </div>

    <div class="use-card">
      <div class="use-card-product-infos">
        <h2><i class="fa-solid fa-camera"></i> <strong>Choose</strong></h2>
        <p>4. Choose the perfect <strong>place and time</strong> using the photos available</p>
      </div>
    </div>
  </div>
</div>
