<div class="banner">
  <div class="half-background">
    <h1><strong>CatchLight</strong></h1>
    <p>Find the right time to immortalize a moment with the perfect light</p>
  </div>
  <!-- <div>
  <%#= render "shared/search_box"%>
  </div>-->
</div>
