
<div class="motion">
  <div class='banner'>
    <div class="about-section">
      <h1>Welcome to <strong>CatchLight</strong></h1>
      <p>Our mission is to share the most incredible and inspiring images with the world. </p>
      <p>We provide informations about time, location
      and gears used to capture the perfect moment. </p>
    </div>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://ca.slack-edge.com/T02NE0241-U03PDBF26KA-4e3cf20226cb-512" alt="Zach" style="width:100%">
        <div class="container">
          <h2>Zachary Thomas</h2>
          <p class="title">Project Manager</p>
          <p>Team-Building Skills</p>
          <p><i class="fa-regular fa-envelope"></i>  Zachary@gmail.com</p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="https://ca.slack-edge.com/T02NE0241-U03NYKZ5Q2H-1d9f43c84589-512" alt="Corentin" style="width:100%">
        <div class="container">
          <h2>Corentin Vanvyve</h2>
          <p class="title">Product Manager</p>
          <p>Strong experience in a dynamic product management</p>
          <p><i class="fa-regular fa-envelope"></i>  Corentin@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://ca.slack-edge.com/T02NE0241-U03NN9ZAP1Q-14edc2d8ac31-512" alt="Stephane" style="width:100%">
          <div class="container">
          <h2>Stephane Lorio</h2>
          <p class="title">Fullstack Developer</p>
          <p>Strong interpersonal skills and extremely resourceful</p>
          <p><i class="fa-regular fa-envelope"></i>  lorio.stephane@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://ca.slack-edge.com/T02NE0241-U03NWL3V0CV-40cc801250ed-512" alt="Ambroise" style="width:100%">
        <div class="container">
          <h2>Ambroise Buckens</h2>
          <p class="title">Fullstack Developer</p>
          <p>Contribute in many frontend projects</p>
          <p><i class="fa-regular fa-envelope"></i>  Ambroise@gmail.com</p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="https://ca.slack-edge.com/T02NE0241-U03NGRH4M9D-2f6d68f7437b-512" alt="Tenzin" style="width:100%">
        <div class="container">
          <h2>Tenzin zayn Gombo</h2>
          <p class="title">Fullstack Developer</p>
          <p>Great expertise in UI/UX Design</p>
          <p><i class="fa-regular fa-envelope"></i>  Tenzin@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
