
<div class = "header">

  <%#= render "shared/navbar"%>
  <div class= "banner-items">
    <%= render "pages/banner"%>
    <%= render "shared/search_box"%>
  </div>
  <br>
<%= render "shared/use-website" %>

<%= render "shared/carousel" %>
