.banner {

  background-image: asset-url("banner.jpg") !important;
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
}

.half-background {
  background-color: $black;
  opacity: .7;

  width: 40vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  margin: 100px;
  font-size: 36px;
  color: white;
}

.banner h1 {
  color: $dark-white;
  font-size: 64px;
}

.banner p {
  color: $dark-white;
}


@media (max-width: 1200px) {
  .half-background {
      margin: 0;
      transform: translateY(-15%);
  }
}

@media (max-width: 700px) {

  .banner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .half-background {
    margin: 0;
    padding: 0;
    transform: translateY(-15%);
    width: 35vh !important;
  }
}
