.banner {

  background-image: asset-url("banner.jpg") !important;
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
}

.half-background {
  background-color: rgb(0, 0, 0);
  opacity: .7;
  height: 50vh;
  width: 40vh;
  padding: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  margin: 150px;
}

.banner h1 {
  color: rgb(249, 249, 249);
}

.banner p {
  color: rgb(249, 249, 249);
}


@media (max-width: 1200px) {
  .half-background {
      margin: 0;
      transform: translateY(-15%);
  }
}

@media (max-width: 700px) {

  .banner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .half-background {
    margin: 0;
    padding: 0;
    transform: translateY(-15%);
    width: 35vh !important;
  }
}
