.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: $gray;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $red;
}

.about-us {
  text-decoration: none;
  color: $black;
  opacity: 0.15;
}

.about-us :hover {
  color: $black !important;
  opacity: 1;
}
