@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

.body-colour{
  background-color: $body-bg;
  width: 100vw;
}

.footer{
  height: 100vh;
  width: 100vw;
  bottom: 0;
  background-color: #16161D;
  background-size: cover;
  color: #EEEAEA;
}

.main{
  width: 95vw;
  height: 80%;
  margin: 0 2.5vw;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22vh;
}

.follow h2{
  font-size: 90px;
  margin: 0;
}
.follow h3{
  font-size: 90px;
  margin: 0;
}

.network{
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 50px;
    background-color: white;
    color: #16161D;
    padding: 20px;
    border-radius: 50%;
    margin: 45px;
  }
}

.copyright{
  display: flex;
  align-items: bottom;
  justify-content: center;
  color: $white !important;
  p {
    margin: 0 80px;
    color: $white !important;
  }
}

.roll{
  width: 100vw;
  height: 20%;
  color: white;
  font-size: 139px;
  font-family: 'Teko', sans-serif;
  line-height: 140px;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  color: white;
  margin-bottom: 0px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
  margin-bottom: 0px;
}

.marquee2 span {
  animation-delay: 6s;
  display: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
