@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

.body-colour{
  background-color: $body-bg;
  width: 100vw;
}

.footer{
  margin-top: 50px;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  background-color: #16161D;
  background-size: cover;
  color: #EEEAEA;
}

.main{
  width: 95vw;
  height: 80%;
  margin: 0 2.5vw;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 55px;

}

.follow h2{
  font-size: 45px;
  margin: 0;
  font-family: $headers-font;
}
.follow a{
  font-size: 45px;
  margin: 0;
}

.network{
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 25px;
    background-color: white;
    transition: 0.3s;
    color: #16161D;
    padding: 10px;
    border-radius: 50%;
    margin: 30px 25px;
  }
  i:hover{
    background-color: #16161D;
    color: white;
    transition: 0.3s;
  }
}

.copyright{
  display: flex;
  align-items: bottom;
  justify-content: center;
  color: $white !important;
  p {
    margin: 0 80px;

    font-family: $body-font;

    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      color: lightgrey;
    }

  }
}

.roll{
  width: 100vw;
  color: white;
  font-size: 46px;
  font-family: $headers-font;
  text-align: center;
}


@media (max-width: 700px) {
  .network{
    margin: 30px 16px -21px 16px;
    a{
      margin: 0px -5px;
    }
    i{
      padding: 8px;
    }
  }

  .copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
}
