.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-content: space-around;
  justify-content: space-around;

}

.forgotyourpassword {

  background: #dee2e6a8;
  padding: 10px 20px;
  margin-top: 140px;
  border-radius: 3px;
  box-shadow: $box-shadow;
}



h2 {

  front-size: 20px;
  front-weight: noto Sans;
  margin-bottom: 30px;
  text-align: center;
}

.btn {

  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  background-color: #0d6efd;
}

.bg-img {
  /* The image used */
  background-image: url("mountian.jpg");
   /* Control the height of the image */
   height: 80vh;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
