.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-content: space-around;
  justify-content: space-around;

}

.forgotyourpassword {

  background: #e1e6ec;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba;
}



h2 {

  front-size: 20px;
  front-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.btn {

  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  background-color:  lightseagreen;;
}
