.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-content: space-around;
  justify-content: space-around;



}
.login{
  text-align: center;
  background: #b0eced29;

  padding: 10px 20px;
  margin-top: 50px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
h2 {

  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: #577fba;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.btn {
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  background-color:  lightseagreen;
  font-weight:bold;

  &:hover {

    color: aliceblue;
    background-color:  lightseagreen;

  }
}

a {
    color: #135fd0;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;

}
