.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin-bottom: 10px;
  align-content: space-around;
  justify-content: space-around;
  border-radius: 25px;
}

.login{

  text-align: center;
  background:  #dee2e6a8;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.login-form {


  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: #577fba;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.btn {
  border: none;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;
  background-color:#0edae9a2;
  font-weight:bold;
  color: rgb(30, 31, 32);

}


.bg-img {
  /* The image used */
  background-image: url("mountian.jpg");
  /* Control the height of the image */
  height: 80vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-control {
  width: 100%;
  background-color: white;
  border: 1px solid #4f4f4f;
}
