.navbar-lewagon {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  opacity: 1 !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  opacity: 1 !important;
}


.homepage-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;

}
